#list li{
	list-style: none;
	text-align: left;
	width: 170px;
}
ul{
	padding-left: 0px;
	padding-right: 4px;
	margin-top: 4px;
	height: 100px;
	width: 170px;
	overflow-y: auto;
	overflow-x: hidden;
}
li:hover{
	font-weight: bold;
	background-color: #F7F7F7;
	cursor: pointer;
}
