#list li{
	list-style: none;
	text-align: left;
	width: 170px;
}
.dropdown{
	width: 170px;
}
.dropdown:focus{
	outline-color: transparent;
}
ul{
	padding-left: 5px;
	margin-top: 4px;
	height: 100px;
	overflow-y: auto;
	overflow-x: hidden;
}
li:hover{
	cursor: pointer;
}
